<h1>Home</h1>

<h2>Productos</h2>

<div class="container">
    {{#each products}}
        <div class="card">
            <h3>{{ this.title }}</h3>
            <img src="{{ this.thumbnail }}" onerror="this.src='/asset/no-image.jpg'" alt="" / >
            <p>{{ this.description }}</p>
            <span>Price: $ {{ this.price }}</span>
        </div>
    {{/each}}
</div>